* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.olhos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 400px;
    height: 200px;
}

.olho{
    width: 200px;
    height: 200px;
    transform-origin: center center;
}